manifest {
    author = 'Viren Amin'
    description = 'Annotator'
    mainScript = 'annotator.nf'
    nextflowVersion = '>=21.04.1'
    version = '0.1'
}


params {
    // set up default params
    vcf = 'test/test-GRCh37.vcf' // VCF file to annotate. DEFAULT: test/test-GRCh37.vcf
    repository = 'virenar' // Dockerhub user repository
    resources = 'data'
    reference = 'data/fasta/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz'
    outdir = 'work' // Output directory
    help = false
    email_sender = "Viren Amin<amin.viren@gmail.com>"
    email_recipients = "amin.viren@gmail.com"
}


report {  // Turning on execution report by default
  enabled = true
  file = "${params.outdir}/report.html"
}


timeline { // Turning on timeline tracking by default
  enabled = true
  file = "${params.outdir}/timeline.html"
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}